html{
  background:#98DDC1;
  color:#333;
  font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body{
  margin:1em;
  padding:1em;
  background:#fff;
  border:1px solid #4BC493;
  border-radius:5px;
}

pre{
  background:#444;
  padding:1em;
  color:#fff;
  font-family:Monaco, monospace;
  line-height:1.5;
  border:1px solid #ddd;
  border-radius:3px;
  overflow:scroll;
}

.t--bg{
  transition: all 1s;
}

.t--bg:hover{
  background:blue;
  color:#fff;
  padding-left:30px;
  padding-right:100px;
}

.t--timing-functions > div{
  position:relative;
}

#t--timing + .t--timing-functions > div {
  background:red;
  color:#fff;
  padding:10px;
  width:100px;
  left:0;
  transition-duration:2s;
  transition-property:all;
}

.t--timing-functions .ease {
  transition-timing-function:ease;
}

.t--timing-functions .ease-in {
  transition-timing-function:ease-in;
}

.t--timing-functions .ease-out {
  transition-timing-function:ease-out;
}

.t--timing-functions .ease-in-out {
  transition-timing-function:ease-in-out;
}

.t--timing-functions .linear {
  transition-timing-function:linear;
}

.t--timing-functions .step-start {
  transition-timing-function:step-start;
}

.t--timing-functions .step-end {
  transition-timing-function:step-end;
}

.t--timing-functions .steps {
  transition-timing-function:steps(10, end);
}

#t--timing:checked + .t--timing-functions > div {
  background:blue; 
  left:100%;
  transform:translateX(-100%);
}

















